Error Workflow.json
{
  "name": "Error Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        128
      ],
      "id": "f4fdffe5-b31d-4f6c-a648-c180d0fd0636",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.2,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -768,
        320
      ],
      "id": "1bf7cb8a-d0c7-4ed7-b0f2-4865f1ac919f",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "u5teOB5LEmBZI3E2",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Solution\": {\n      \"type\": \"string\",\n      \"description\": \"Step by step solution to fix the error\"\n    },\n    \"Priority_Level\": {\n      \"type\": \"string\",\n      \"enum\": [\"High\", \"Medium\", \"Low\"],\n      \"description\": \"Categorize the error severity\"\n    }\n  },\n  \"required\": [\"Solution\", \"Priority_Level\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -464,
        320
      ],
      "id": "225c7c90-fdd2-4cae-bdc2-306b54aa9fee",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following error and recommend a solution. Categorize if its a high, medium or low priority case.\n\nWorkflow Name: {{ $json.workflow.name }}\nNode Name: {{ $('Error Trigger').item.json.execution.error.node.name }}\nError Message: {{ $json.execution.error.message }}\nStarted At: {{ $json.execution.error.timestamp }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -768,
        128
      ],
      "id": "29565d04-44c5-4f5b-a637-69746ba62144",
      "name": "Error Analysis Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_S-65ylCA26oRX8GNo0H5i6VaUz0mTVlQ0fRJ-lr4lQ/edit?gid=542699528#gid=542699528",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 542699528,
          "mode": "list",
          "cachedResultName": "Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_S-65ylCA26oRX8GNo0H5i6VaUz0mTVlQ0fRJ-lr4lQ/edit#gid=542699528"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ DateTime.fromMillis($('Error Trigger').item.json.execution.error.timestamp).toFormat('yyyy-MM-dd HH:mm:ss') ",
            "RunID": "={{ $('Error Trigger').item.json.execution.id }}",
            "WorkflowName": "={{ $('Error Trigger').item.json.workflow.name }}",
            "ErrorMessage": "={{ $('Error Trigger').item.json.execution.error.message }}",
            "NodeName": "={{ $('Error Trigger').item.json.execution.error.node.name }}",
            "Solution": "={{ $json.output.Solution }}",
            "Priority": "={{ $json.output.Priority_Level }}"
          },
          "matchingColumns": [
            "RunID"
          ],
          "schema": [
            {
              "id": "RunID",
              "displayName": "RunID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WorkflowName",
              "displayName": "WorkflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NodeName",
              "displayName": "NodeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ErrorMessage",
              "displayName": "ErrorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        128
      ],
      "id": "af5c4efc-bb53-4e1e-893a-7b129815154c",
      "name": "Log Error to Database",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ug0OMczLAborogB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Priority }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9c7b270-ada8-4e7b-8dc1-bb538a102184"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a54cb407-bca5-4f9d-a492-1db3d9ac8d52",
                    "leftValue": "={{ $json.Priority }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e92909d4-0e05-416f-8ba3-590cca3d844a",
                    "leftValue": "={{ $json.Priority }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        128
      ],
      "id": "3b8db6a3-e698-4dbf-bea9-2020f30599d6",
      "name": "Route by Priority",
      "retryOnFail": false,
      "maxTries": 5,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sendTo": "mark.were@student.moringaschool.com",
        "subject": "={{ $json.Priority }} Priority Error in {{ $('Error Trigger').item.json.workflow.name }}",
        "message": "=<h2>Workflow Crashed!</h2>\n<b>Node:</b> {{ $('Error Trigger').item.json.execution.error.node.name }}<br>\n<b>Error:</b> {{ $('Error Trigger').item.json.execution.error.message }}<br><br>\n<b>AI Recommended Solution:</b><br>\n{{ $json.Solution }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        128
      ],
      "id": "3f4f246f-ec5c-4453-a9ab-e75826fde0f2",
      "name": "Alert Engineering Team",
      "webhookId": "aeb03def-114d-4736-a81a-da74b377e1eb",
      "retryOnFail": false,
      "maxTries": 5,
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "S7Mx7vAWulmX8zYf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.2,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -928,
        320
      ],
      "id": "79ea4a37-b580-4f70-8e72-bc1c552eeae3",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "u5teOB5LEmBZI3E2",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -608,
        320
      ],
      "id": "6b8ffcbb-e921-44c1-8bc8-e25d0340364e",
      "name": "Memory"
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "1977",
            "url": "http://localhost:5678/workflow/kKxuvrh2ZBoOnU9R/executions/1977",
            "error": {
              "level": "warning",
              "tags": {},
              "timestamp": 1784537555246,
              "context": {
                "itemIndex": 1
              },
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "authentication": "oAuth2",
                  "resource": "message",
                  "operation": "send",
                  "sendTo": "={{ $('Code in JavaScript1').item.json.recipients }}",
                  "subject": "Test run ",
                  "emailType": "html",
                  "message": "={{ $('Chief Editor').item.json.output }}",
                  "options": {}
                },
                "type": "n8n-nodes-base.gmail",
                "typeVersion": 2.2,
                "position": [
                  1264,
                  -352
                ],
                "id": "f3d2e6cc-80ed-42f5-870d-cad29560098d",
                "name": "Send a message",
                "webhookId": "dd3b7614-d5bc-4e3c-a040-77dea0e3e135",
                "credentials": {
                  "gmailOAuth2": {
                    "id": "S7Mx7vAWulmX8zYf",
                    "name": "Gmail account"
                  }
                }
              },
              "messages": [],
              "message": "Cannot read properties of undefined (reading 'split') (item 1)",
              "stack": "NodeOperationError: Cannot read properties of undefined (reading 'split') (item 1)\n    at ExecuteContext.execute (C:\\Users\\ChuckNet\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-nodes-base\\nodes\\Google\\Gmail\\v2\\GmailV2.node.ts:826:11)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at WorkflowExecute.executeNode (C:\\Users\\ChuckNet\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1067:8)\n    at WorkflowExecute.runNode (C:\\Users\\ChuckNet\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1367:11)\n    at C:\\Users\\ChuckNet\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1829:27\n    at C:\\Users\\ChuckNet\\AppData\\Roaming\\npm\\node_modules\\n8n\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:2521:11"
            },
            "lastNodeExecuted": "Send a message",
            "mode": "integrated",
            "executionContext": {
              "version": 1,
              "establishedAt": 1784537533589,
              "source": "integrated",
              "triggerNode": {
                "name": "Schedule Trigger",
                "type": "n8n-nodes-base.scheduleTrigger"
              },
              "redaction": {
                "version": 2,
                "production": false,
                "manual": false,
                "source": "workflow"
              },
              "credentials": "U2FsdGVkX18YnnTPu7H0phwnisUZGQrMBMptb/d7GtyGTZJ9OO869ydlfe47LRpC4nec41zi4YyM2T3ES65MoykvrWnmx2UFqX9olNWJrE3XRhG4LKQ/Iw4eqy3aLCLxkvLvfgclshXzRi9Mayasyyh7o+eyhokpsm2m07+n8vZ1x1SpKvO4qRCq+pov1yvAFuXTRecrWTnAQbMDe8huaHjE8hmibGjqftllJqeUQiIkZ3F3kc9kLr0VIFpfSKYO4/iILhnunMej9bOZ+Ngm6ezahgvKUISZEk+/06uHTNNgvPCVJaJiXPdgKQPhDjxbzSlN+Kiu2g5WDOR4bNVTdo0H61dfjVL08mh729SYG5sXSe+c+L9DdJIj0k17Qxs0JZ426vzaqdweDFh4CY0OPaTqEAnSfynx/VXPFuHjX6SBP7L7AMlxb224lLsSLJxAcbH5/hgTiv2ITpqB0Ybfd49j2tR/TmJfZHl/d7OwjP9H1HYDihM+7gHdbIDNpP5BuqUwacuuM0wHHXanjIEO3w==",
              "parentExecutionId": "1976"
            }
          },
          "workflow": {
            "id": "kKxuvrh2ZBoOnU9R",
            "name": "execute by another"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Error Analysis Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Error Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Error Analysis Agent": {
      "main": [
        [
          {
            "node": "Log Error to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Database": {
      "main": [
        [
          {
            "node": "Route by Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Priority": {
      "main": [
        [
          {
            "node": "Alert Engineering Team",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        []
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Error Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Error Analysis Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Africa/Nairobi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e340ebe8-676c-45fb-8f71-31c8e34ece0d",
  "meta": {
    "instanceId": "48fed755744d55459ece9ccef36da041c952e24afe1b4b477443e787dcdef8f1"
  },
  "nodeGroups": [],
  "id": "pkLarWCkcrXyGyXy",
  "tags": []
}